:root {
    --mode-color: #fff;
    --white-color: #fff;
    --black-color: #000;
    --white-color-light: #e7e5e5;
    --bg-color-dark: #101010;
    --bg-color-light: #fff;
    --red-color-light: #ffcccc;
    --red-color-dark: #dc233c;
    --orange-color-light: #f8edd2;
    --orange-color-dark: #e1b74c;
    --green-color-light: #cce6cc;
    --green-color-dark: #006013;
    --pink-color-light: #e6ccd6;
    --pink-color-dark: #a03fa0;
    --txt-color-primary: #242323;
    --txt-color-second: #3e89c7;
    --violet-color-light: #f2effe;
    --icon-color-light: #7451f8;
    --icon-color-dark: #999;
    --blue-color: #3e89c7;
    --blue-color-light: #c8e1fa;
    --btn-hover-color: #ece8fe;
    --gray-color-light: #eee;
    --gray-color-dark: #bbb;
    --border-color: #e7e5e5;
    --mode-color-hover: #c8e1fa;
    --after-notify-color: #fff;

    --nav-hight: 4rem;
    --sidebar-width: 240px;

    --box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.5);
    --box-shadow-light: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    --border-radius: 5px;
    --transition: all 0.3s linear;
}
