.table {
    font-size: 1rem;
    width: calc(100vw - 286px);
    margin: 0 auto;
    @include mobile-tablet {
        width: 95vw;
    }

    &__header {
        padding: 1.5rem 0;
        @include flex(center, space-between);
    }

    &__title {
        font-size: 1.5rem;
    }

    &__btn {
        padding: 0.5rem 2rem;
        color: var(--green-color-dark);
        border-radius: var(--border-radius);
        background-color: var(--green-color-light);

        &:hover {
            color: var(--white-color);
            background-color: var(--green-color-dark);
        }
    }

    &__main {
        display: block;
        height: 100vh;
        @include tablet {
            height: 70vh;
        }
    }

    &__datagrid {
        padding: 0 1rem;
        // background-color: #fff;
    }
}

.cellWithImg {
    @include flex(center, center);
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
}

.cellWithStatus {
    &.active {
        padding: 0.3rem;
        color: var(--green-color-dark);
        border-radius: var(--border-radius);
        background-color: var(--green-color-light);
    }
    &.passive {
        padding: 0.3rem;
        color: var(--red-color-dark);
        border-radius: var(--border-radius);
        background-color: var(--red-color-light);
    }
    &.pending {
        padding: 0.3rem;
        color: var(--orange-color-dark);
        border-radius: var(--border-radius);
        background-color: var(--orange-color-light);
    }
}

.cellAction {
    &__viewBtn {
        padding: 0.3rem;
        font-size: 1rem;
        color: var(--blue-color);
        margin-right: 0.5rem;
        text-transform: capitalize;
        border: 1px dotted var(--blue-color);
        border-radius: var(--border-radius);

        &:hover {
            color: var(--white-color);
            background-color: var(--blue-color);
        }
    }

    &__deleteBtn {
        padding: 0.3rem;
        font-size: 1rem;
        cursor: pointer;
        color: var(--red-color-dark);
        background-color: transparent;
        border-radius: var(--border-radius);
        border: 1px dotted var(--red-color-dark);
        &:hover {
            color: var(--white-color);
            background-color: var(--red-color-dark);
        }
    }
}
