.notify {
    position: absolute;
    top: 150%;
    right: -2rem;
    width: 30rem;
    background-color: var(--mode-color);
    border-radius: 0.2rem;
    border: 0.1rem solid var(--border-color);
    box-shadow: 0.1rem 0.1rem 0.1rem var(--mode-color);
    color: var(--mode-color);
    transform-origin: calc(100% - 30px) top;
    animation: notifyAnimationGrowth ease-in 0.3s;
    display: none;
    z-index: 1;

    @include mobile-tablet {
        width: 80vw;
    }

    &.active {
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        top: -1.6rem;
        right: 1.7rem;
        border-style: solid;
        color: var(--after-notify-color);
        border-width: 0.8rem 1rem;
        border-color: transparent transparent currentColor transparent;
        display: block;
        z-index: -10;
    }

    &__title {
        color: var(--txt-color-second);
        font-size: 1.4rem;
        margin: 0.8rem;
    }

    &__list {
        padding: 0;
    }

    &__footer {
        width: 100%;
        text-align: center;

        border-top: 0.1rem solid rgb(243, 243, 243);

        p {
            color: var(--txt-color-second);
            font-weight: bold;
            font-size: 1.4rem;
        }
    }
}

@keyframes notifyAnimationGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
