.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - 4rem);
    box-shadow: var(--box-shadow);
    padding: 1rem 0 1rem 1rem;
    overflow: auto;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    background-color: var(--mode-color);

    &.active {
        transform: translateX(0);
    }

    @include mobile-tablet {
        position: fixed;
        top: var(--nav-hight);
        left: 0;
        z-index: 10;
        background-color: var(--white-color);
        transform: translateX(-120%);
        transition: var(--transition);

        // position: -webkit-sticky;
        // position: sticky;
        // top: 4rem;
    }

    &__icon {
        font-size: 1rem;
        color: var(--red-color-dark);
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: none;

        @include mobile-tablet {
            display: block;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 1rem;
        color: var(--txt-color-second);
        margin-top: 0.5rem;
    }

    &__content {
        padding-left: 0.5rem;
        @include flex(center, start);
        color: var(--txt-color-second);
        text-transform: capitalize;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background-color: var(--mode-color-hover);
        }
        span {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
        }

        &.active {
            background-color: var(--mode-color-hover);
        }
    }
}
