.compInfo {
    position: relative;
    box-shadow: var(--box-shadow-light);
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    color: var(--txt-color-primary);

    &__edit {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.2rem;
        // color: var(--icon-color-light;
        background-color: var(--violet-color-light);
        border-bottom-left-radius: var(--border-radius);
    }

    &__title {
        font-size: 1.5rem;
        color: var(--txt-color-second);
        // text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 1rem;
    }

    &__img {
        margin-top: 1rem;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__content {
        text-align: start;
        font-size: 1rem;
        // color: var(--black-color);

        p {
            color: var(--txt-color-primary);
        }

        h3 {
            // font-weight: bold;
            color: var(--txt-color-second);
            // text-transform: uppercase;
        }
        // span,
        // h3 {
        //     color: var(--txt-color-primary);
        //     font-weight: bold;
        // }

        // h3 {
        //     color: var(--txt-color-second);
        // }
    }
}
