.widgets {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 2rem;
    }

    @include mobile {
        grid-template-columns: 1fr;
        gap: 2rem 0;
    }
}

.widget {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    padding: 1rem;

    &__header {
        @include flex(center, space-between);
        color: var(--txt-color-primary);
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__percent {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    &__total {
        font-size: 2rem;
        color: var(--txt-color-second);
    }

    &__footer {
        @include flex(center, space-between);
    }

    &__text {
        border-bottom: 1px solid var(--txt-color-second);
        cursor: pointer;
        &:hover {
            color: green;
            border-bottom-color: green;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        border-radius: var(--border-radius);
        cursor: pointer;
    }
}
